/*!CK:1624906750!*//*1395630416,178158945*/

a._5qt4{cursor:pointer}
.fbPhotoTagger ._570u{min-width:220px;padding:6px}._570v{margin-left:3px;margin-top:1px}._5ep9{background:none;border:2px solid rgba(255, 255, 255, .3);-webkit-border-radius:3px;overflow:hidden;position:absolute}._5epb{overflow:hidden;position:relative}._5epc{position:relative}._5epd{position:absolute}

#bootloader_ghPja { height: 42px; }
.bootloader_ghPja { display:block !important; }