/*!CK:1591481562!*//*1395625410,178141991*/

.sp_1qgz1q{background-image:url(/rsrc.php/v2/y2/r/H04W71DKijt.png);background-size:18px 90px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sx_ebb779{background-position:0 0}.sx_94c24b{background-position:0 -18px}.sx_8450a9{background-position:0 -36px}.sx_360c99{background-position:0 -54px}.sx_c9a699{background-position:0 -72px}

#bootloader_DgKdB { height: 42px; }
.bootloader_DgKdB { display:block !important; }