/*!CK:350661399!*//*1395024631,178154559*/

._5ww7{border:1px solid;-webkit-border-radius:3px;color:#6a7180;padding:10px}._5ww7._5ww8{background-color:#f4f4f6;border-color:#e9e9eb;-webkit-border-radius:0;padding:12px}._5ww7._5ww9{background-color:#e3e5e8;border-color:#d6d7da}._5ww7._5xyi{background-color:#e1e6ee;border-color:#c8d1e1;color:#333}._5ww7._5xyi a{color:#3b5998}
._5ww2{color:#6a7180;font-weight:bold}

#bootloader_ZI9q3 { height: 42px; }
.bootloader_ZI9q3 { display:block !important; }