/*!CK:2000178383!*//*1395021890,178158945*/

._5vb_ ._5y7m{background-color:transparent;border:0;-webkit-border-radius:0;padding:0}._5xsl{margin-left:3px;margin-top:1px;visibility:hidden}._5wvy:hover ._5xsl{visibility:visible}._5xyg{color:#6a717f;display:block;font-weight:bold;margin-top:8px}
._5xsm .permalink_stream{display:none}.permalinkBody._5xsm #contentArea{background-color:transparent;border:none;padding:0}._5xsm ._5xsl{display:none}

#bootloader__P3xE { height: 42px; }
.bootloader__P3xE { display:block !important; }