/*!CK:435884271!*//*1395758846,178171215*/

.sp_1jius0{background-image:url(/rsrc.php/v2/y5/r/SWV3Zd_xpsH.png);background-size:42px 60px;background-repeat:no-repeat;display:inline-block;height:40px;width:40px}.sx_291a7f{width:16px;height:16px;background-position:0 -42px}.sx_6819de{background-position:0 0}

#bootloader_zuKyF { height: 42px; }
.bootloader_zuKyF { display:block !important; }